*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

footer h1{
   margin-left: 50%;
    border: 2px solid red;
    padding: 10px;
    text-align: center;
    display: inline-block;
    color:aqua;

}
footer{
    color: blueviolet;
    margin: auto;
}
body{
    background-color: antiquewhite;
}
h1{
    color: blue;
   margin-left: 50%;
    
    font-size: xx-large;
    font-weight: 600;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
main article{
    color: black;
    border: 2px solid red;
    display: grid;
    justify-content: center;
}

.wrap{
    border: 3px solid #333;
    width:80%;
    margin: auto;
    
}