*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
footer h1{
   margin-left: 50%;
    border: 2px solid red;
    padding: 10px;
    text-align: center;
    display: inline-block;
    color:aqua;

}
footer{
    margin: auto;
}